<div class="container">

  <div class="jumbotron wb row" id="about">

    <div class="col-md-4">
      <img src="{{ asset('bundles/frontend/images/piergi_profile_168x191.jpg', absolute=true) }}" alt="{{ user.firstName }} {{ user.lastName }}" />
    </div>          

    <div class="col-md-8" id="about1">

      <h1>{{ user.firstName }} {{ user.lastName }}</h1>

      <table>
        <tbody>
          <tr>
            <td>
              <p></p>
              <p>{{ user.summary }}</p>   

            </td>
            <td>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div> <!-- /container --> 