<div class="container">
  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>{{ position.title }}</h1>
    <h2>{{ position.company.name }}</h2>
    {% if position.location.country is defined %}
      {% set code = position.location.country.code %}
    {% else %}
      {% set code = 'EU' %}
    {% endif %}
    <h3>
      {% include 'FrontendBundle:Templates/Partials/locations:uk.html.twig' with {'country': code,'name': position.location.name } %}
    </h3> 
    {% if (position.startDate is defined) and (position.endDate is defined) %}
      {% set startMonth = position.startDate.month %}
      {% set startYear = position.startDate.year %}
      {% set endMonth = position.endDate.month %}
      {% set endYear = position.endDate.year %}
      <p>{{ startMonth }}/{{ startYear }} - {{ endMonth }}/{{ endYear }}</p> 
    {% elseif position.startDate is defined %} 
      {% set startMonth = position.startDate.month %}
      {% set startYear = position.startDate.year %}
      <p>{{ startMonth }}/{{ startYear }} - present</p>
    {% elseif position.endDate is defined %}
      {% set endMonth = position.endDate.month %}
      {% set endYear = position.endDate.year %}
      <p>{{ endMonth }}/{{ endYear }}</p> 
    {% endif %}             
    <p>{{ position.summary|nl2br }}</p>

  </div>
</div>