{# src/PRG/FrontendBundle/Resources/views/Templates/start.html.twig #}

{% extends 'FrontendBundle::layout.html.twig' %}

{% block title %}
  Piergi.com - Start Page
{% endblock %}

{% block body %}
  <div id="container">
  {#
  {{ form_start(form) }}
  {{ form_widget(form) }}
  {{ form_end(form) }}    
  #}
  {{ form_start(form) }}
    {{ form_errors(form) }}
    <table>
      <tbody>
        <tr>
          <td>
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}            
          </td>
          <td>
            {{ form_widget(form.name) }}
          </td>
        </tr>
        <tr>
          <td>
            {{ form_label(form.quantity) }}
            {{ form_errors(form.quantity) }}            
          </td>
          <td>
            {{ form_widget(form.quantity) }}
          </td>
        </tr>
        <tr>
          <td>
            {{ form_label(form.buying_price) }}
            {{ form_errors(form.buying_price) }}            
          </td>
          <td>
            {{ form_widget(form.buying_price) }}
          </td>
        </tr>
        <tr>
          <td>
            {{ form_label(form.selling_price) }}
            {{ form_errors(form.selling_price) }}            
          </td>
          <td>
            {{ form_widget(form.selling_price) }}
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2">
            {{ form_widget(form.calculate) }}
            {{ form_widget(form.saveInSession) }}
          </td>
        </tr>
      </tfoot>
    </table>
  {{ form_end(form) }}

  <br/>
  
  {% include 'FrontendBundle:Templates/Partials:calculated.html.twig' %}

  {#
  <br/>
  Session:     
  <table>
    {% for data in app.session.get('data') %}
      <tr>
        {% for subdata in data %}
            <td>{{ subdata }}</td>
        {% endfor %}              
      </tr>
    {% endfor %}    
  </table>  
  #}
    
  <br/>
  
  <a href="{{ path('start') }}">Start</a>
  </div>
{% endblock %}